@font-face {
  font-family: 'Trajan-Bold';
  src:
    url('@/assets/fonts/Trajan-Bold.woff') format('woff'),
    url('@/assets/fonts/Trajan-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  user-select: none;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Trajan-Bold';
  text-transform: uppercase;
}

.img-full {
  object-fit: cover;
}

video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

/* variables */

:root {
  --main-accent-color: #d68c38;
  --main-accent-light: #ffb347;
  --main-white: #f0e4e4;
  --cherry: #a02c2c;
  --cherry-dark: #a02c2c;
}

/* topic style */

.c-white {
  color: var(--main-white);
}

.style-bordeaux {
  background: linear-gradient(180deg, #252525, #111);
  border: 3px solid var(--cherry);
  border-radius: 5px;
  box-shadow:
    0 4px 0 var(--cherry-dark),
    0 4px 10px rgba(0, 0, 0, 0.6);
}

/* animation */

.fade-in {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-from-top {
  animation: fadeInFromTop 0.3s;
}

@keyframes fadeInFromTop {
  from {
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

.scale-up {
  animation: scaleUp 0.3s ease;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
