@font-face {
  font-family: 'Trajan-Bold';
  src: url('@/assets/fonts/Trajan-Bold.woff') format('woff'),
    url('@/assets/fonts/Trajan-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  user-select: none;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trajan-Bold', sans-serif;
}

.img-full {
  object-fit: cover;
}

video {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* variables */

:root {
  --main-accent-color: #d68c38;
  --main-accent-light: #ffb347;
  --main-white: #f0e4e4;
  --cherry: #a02c2c;
  --cherry-dark: #a02c2c;
}

/* topic style */

.c-white {
  color: var(--main-white);
}

.style-bordeaux {
  background: linear-gradient(180deg, #252525, #111);
  border: 3px solid var(--cherry);
  box-shadow: 0 4px 0 var(--cherry-dark), 0 4px 10px rgba(0, 0, 0, 0.6);
}
